name: Node.js CI

on:
  push:
    paths-ignore:
      - 'README.md'
  
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [24.x]
        template: [ cpp-github ]
    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        
    - shell: bash
      run: |
        npm i && \
        npm install -g yo && \
        npm install -g yeoman-test && \
        npm install -g generator-${{ matrix.template }} && \
        yo --generators && \
        node .
        
    - uses: actions/upload-artifact@v4.6.0
      with:
        name: "${{ matrix.template }}-${{ matrix.node-version }}.zip"
        path: "dist"
